:root{
    --fontColor1:#fff;
    --fontColor2:#000;
    --fontColor3:#030436;
    --bgColor1:#010386;
    --bgColor2:#f1e9e9;

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body {
    background: var(--bgColor2);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

/* Resposividade */
@media(max-width: 500px) {
    .container {
        justify-content: start;
        text-align: center;
    }
}